.drivers-table{
    border: 1px solid #ff0000;
    width: 100%;
}

.drivers-list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.drivers-headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-filters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: #1e00ff 1px solid;
    padding: 10px 0px;
}

